/*vusual ----------------------------------------------*/
#visual_join {
	width: 100%;

	> .sub_visual {
		width: 100%;
		height: 400px;
		position: relative;
		overflow: hidden;
		background: rgba(197, 241, 255, 0.473);

		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.6;
            object-position: bottom;
			
		}
		> .inner_txt {
			width: 1180px;
			text-align: center;
			position: absolute;
			bottom: 42%;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0.9;

			> h1 {
				font: normal 40px/1.2 "EB Garamond";
				color: #fff;
				letter-spacing: 3px;
				margin-bottom: 20px;
				// filter: blur(0.3px);
				// text-shadow: 1px 1px 1.2px  #fff;
			}
			> p {
				text-align: center;
				font: normal 18px/30px "EB Garamond";
				color: rgba(238, 238, 238, 0.781);

				&::after {
					content: "";
					display: block;
					width: 75px;
					height: 2px;
					background: rgba(221, 221, 221, 0.938);
					transition: 1s;
					position: absolute;
					bottom: -50px;
					right: 50%;
					transform: translateX(50%);
				}
			}
		}
	}
}

.join {
	width: 100%;
	padding: 150px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		h2 {
			font: bold 18px/1 "Roboto";
			color: #555;
			margin-bottom: 20px;
		}
		#terms {
			width: 100%;
			height: 200px;
			resize: none;
			padding: 20px;
			background-color: rgba(236, 236, 236, 0.432);
			font: 12px/1.3 "Roboto";
			color: #888;
			margin-bottom: 10px;
		}
        .agreement{
            margin-bottom: 70px;

            label[for="agree"]{
                font-size: 12px;
            }
        }

		table {
			width: 100%;
			border-top: 2px solid #333;
			border-bottom: 2px solid #333;

			th,
			td {
				border-bottom: 1px solid #ddd;
				padding: 15px 25px;
			}
			th {
				width: 20%;

				input[type="reset"],
				input[type="submit"] {
					width: 30%;
					height: 40px;
					border: 1px solid #333;
					margin: 10px;
					font: bold 14px/40px "Roboto";
					color: #555;
					cursor: pointer;
					transition: 0.5s;

					&:hover {
						background: #333;
						color: #fff;
					}
				}
			}
			td {
				border-left: 1px solid #aaa;

				input[type="text"],
				input[type="password"],
				select {
					width: 60%;
					padding: 10px;
					background:rgba(255, 238, 227, 0.356);
					border: 1px solid #aaa;
				}
				input[type="checkbox"],
				input[type="radio"] {
					margin-right: 30px;
				}
				textarea {
					width: 60%;
					height: 150px;
					background: rgba(255, 238, 227, 0.356);
					padding: 10px;
					border: 1px solid #aaa;
					resize: none;
				}

				//동적으로 생성될 에러 메시지 스타일
				p {
					font: 11px/1 "맑은 고딕";
					color: rgba(255, 98, 59, 0.836);
					margin-top: 5px;
				}
			}
		}
	}
}

/* tablet -------------------------------------*/
@media screen and (max-width: $tablet) {
	.join {
		.inner {
			table {
				th {
					display: none;
					&:last-child {
						display: block;
						width: 100%;
					}
				}

				input[type="text"],
				input[type="password"] {
					width: 50%;
				}
				select {
					width: 30%;
				}
				textarea#comments {
					width: 90%;
				}
				.hobbyTxt,
				.genderTxt {
					display: block;
				}
			}
		}
	}
}

/* mobile -------------------------------------*/
@media screen and (max-width: $mobile) {
	.join {
		.inner {
			table {
				th {
					&:last-child {
						font-size: 0;
					}
				}
				input[type="reset"],
				input[type="submit"] {
					width: 40%;
					margin: 0 5%;
				}

				input[type="text"],
				input[type="password"] {
					width: 100%;
				}
				label {
					display: inline-block;
					margin-right: 10px;
				}
				select {
					width: 100%;
					margin-top: 10px;
				}
				textarea#comments {
					width: 100%;
				}
			}
		}
	}
}
